# API REST BOT 
URL_API_REST_BOT=http://localhost:4000

# TIME ZONE PROPERTIES SEE DOCUMENTATION https://date-fns.org/v2.29.2/docs/Time-Zones
TZ=America/Bogota


# DIALOGFLOW PROPERTIES
GOOGLE_CLIENT_EMAIL= YOUR_GOOGLE_CLIENT_EMAIL
GOOGLE_PRIVATE_KEY= YOUR_GOOGLE_PRIVATE_KEY 
GOOGLE_PROJECT_ID= YOUR_PROYECT_ID
DF_LANGUAGE_CODE= DEFAULT_LANGUAGE_CODE


# FACEBOOK PROPERTIES
FB_PAGE_TOKEN= YOUR_FACEBOOK_PAGE_TOKEN 
FB_VERIFY_TOKEN= YOUR_VERIFY_TOKEN 
FB_APP_SECRET= YOUR_APP_FB_SECRET 
FB_API_URL="https://graph.facebook.com/v15.0"



# REDIS DATABASE PROPERTIES FOR SESSION DURATION
REDIS_HOST= YOUR_REDIS_HOST
REDIS_PORT=10556
REDIS_USERNAME=default
REDIS_PASSWORD=changeme
# REDIS CACHE DURATION IN SECONDS
REDIS_CACHE_DURATION= 86400





 

#LOGGER PROPERTIES
APP_NAME=SKY-BOT-WEBHOOK
LOG_FOLDER=LOG
DATE_PATTERN=YYYY-MM-DD
TIMESTAMP_FORMAT=YYYY-MM-DD hh:mm:ss.SSS A
MAX_SIZE=20m
MAX_DAYS=14d

#GRAFANA PROPERTIES
GRAFANA_PASSWORD='changeme'


# LOGSTASH PROPERTIES
LOGSTASH_ENABLED=false # Flag for enabled logStash communication with ELK
LOGSTASH_PORT=50000
LOGSTASH_NODE_NAME=SKY_BOT_WEBHOOK_LOG
LOGSTASH_HOST=host.docker.internal

ELASTIC_VERSION=8.5.0

## Passwords for stack users
#

# User 'elastic' (built-in)
#
# Superuser role, full access to cluster management and data indices.
# https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
ELASTIC_PASSWORD='changeme'

# User 'logstash_internal' (custom)
#
# The user Logstash uses to connect and send data to Elasticsearch.
# https://www.elastic.co/guide/en/logstash/current/ls-security.html
LOGSTASH_INTERNAL_PASSWORD='changeme'

# User 'kibana_system' (built-in)
#
# The user Kibana uses to connect and communicate with Elasticsearch.
# https://www.elastic.co/guide/en/elasticsearch/reference/current/built-in-users.html
KIBANA_SYSTEM_PASSWORD='changeme'